fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy[asyncio]
alembic
pydantic-settings
psycopg[asyncpg]
asyncpg
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pytest
pytest-asyncio
httpx
prometheus-fastapi-instrumentator
prometheus-client